.inChat {
    padding: var(--componentPadding);
    background-color: var(--componentBackgroundColor);
    border: var(--componentBorder);
    border-radius: var(--componentRadius);

    &__list {
        display: flex;
        flex-direction: column;
        height: 40vh;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgb(50, 50, 50) transparent;
        gap: 5px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        gap: 10px;
        padding: 5px;
        border-radius: 9px;
        border: 1px solid transparent;

        &:hover {
            border: var(--componentBorder);
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__center {
            display: flex;
            margin-top: 5px;
            align-items: center;
            gap: 8px;
        }

        &__right {
            margin-left: auto;
        }

        &__img {}

        &__name {}

        &__dscr {
            text-wrap: wrap;
        }

        &__date {}
    }

    &__btm {
        margin-top: 20px;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}